In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn import preprocessing
from sklearn import model_selection
from sklearn import linear_model, metrics
# from sklearn import score

In [45]:
data = pd.read_csv('crx.data', header=None)
data.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
0     690 non-null object
1     690 non-null object
2     690 non-null float64
3     690 non-null object
4     690 non-null object
5     690 non-null object
6     690 non-null object
7     690 non-null float64
8     690 non-null object
9     690 non-null object
10    690 non-null int64
11    690 non-null object
12    690 non-null object
13    690 non-null object
14    690 non-null int64
15    690 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.3+ KB

In [47]:
data.replace('?', np.NaN, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
0     678 non-null object
1     678 non-null object
2     690 non-null float64
3     684 non-null object
4     684 non-null object
5     681 non-null object
6     681 non-null object
7     690 non-null float64
8     690 non-null object
9     690 non-null object
10    690 non-null int64
11    690 non-null object
12    690 non-null object
13    677 non-null object
14    690 non-null int64
15    690 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.3+ KB

In [48]:
for col in data.columns:
    if data[col].dtype == 'object':
        data[col] = data[col].fillna(data[col].value_counts().index[0])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
0     690 non-null object
1     690 non-null object
2     690 non-null float64
3     690 non-null object
4     690 non-null object
5     690 non-null object
6     690 non-null object
7     690 non-null float64
8     690 non-null object
9     690 non-null object
10    690 non-null int64
11    690 non-null object
12    690 non-null object
13    690 non-null object
14    690 non-null int64
15    690 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.3+ KB

In [49]:
data.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
0     678 non-null object
1     678 non-null object
2     690 non-null float64
3     684 non-null object
4     684 non-null object
5     681 non-null object
6     681 non-null object
7     690 non-null float64
8     690 non-null object
9     690 non-null object
10    690 non-null int64
11    690 non-null object
12    690 non-null object
13    677 non-null object
14    690 non-null int64
15    690 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.3+ KB

In [50]:
data.fillna(np.mean, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
0     690 non-null object
1     690 non-null object
2     690 non-null float64
3     690 non-null object
4     690 non-null object
5     690 non-null object
6     690 non-null object
7     690 non-null float64
8     690 non-null object
9     690 non-null object
10    690 non-null int64
11    690 non-null object
12    690 non-null object
13    690 non-null object
14    690 non-null int64
15    690 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.3+ KB

In [51]:
le = preprocessing.LabelEncoder()

In [52]:
for col in data.columns:
    if data[col].dtype == 'object':
        print(col)
        data[col] = le.fit_transform(data[col].values)

0
1
3
4
5
6
8
9
11
12
13
15

In [54]:
col_list = ['gender', 'age', 'debt', 'married', 'bank_customer', 'education_level', 'ethnicity', 'years_employed', 'prior_default', 'employed', 'credit_score', 'drivers_license', 'citizen', 'zip_code', 'income', 'approval_status']

In [55]:
data.columns=col_list
data.columns

Index(['gender', 'age', 'debt', 'married', 'bank_customer', 'education_level',
       'ethnicity', 'years_employed', 'prior_default', 'employed',
       'credit_score', 'drivers_license', 'citizen', 'zip_code', 'income',
       'approval_status'],
      dtype='object')

In [56]:
data.head()

,gender,age,debt,married,bank_customer,education_level,ethnicity,years_employed,prior_default,employed,credit_score,drivers_license,citizen,zip_code,income,approval_status
0,1,156,0.000,1,0,12,7,1.25,1,1,1,0,0,68,0,0
1,0,328,4.460,1,0,10,3,3.04,1,1,6,0,0,11,560,0
2,0,89,0.500,1,0,10,3,1.50,1,0,0,0,0,96,824,0
3,1,125,1.540,1,0,12,7,3.75,1,1,5,1,0,31,3,0
4,1,43,5.625,1,0,12,7,1.71,1,0,0,0,2,37,0,0

In [57]:
X,y = data.drop(['drivers_license', 'zip_code', 'approval_status'], axis=1), data['approval_status']

In [59]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X,y,test_size=0.3,random_state=1)

In [60]:
scaler = preprocessing.MinMaxScaler(feature_range=(0,1))

In [69]:
scale_X_train = scaler.fit_transform(X_train)
scale_x_test = scaler.fit_transform(X_test)

In [70]:
lgr = linear_model.LogisticRegression(solver='lbfgs') #solver for solving futurewarning

In [71]:
lgr.fit(scale_X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [72]:
y_pred = lgr.predict(scale_y_test)

In [74]:
lgr.score(scale_x_test, y_test)

0.8599033816425121

In [75]:
metrics.confusion_matrix(y_test, y_pred)

array([[80,  5],
       [24, 98]], dtype=int64)

In [77]:
tol = [0.01, 0.001, 0.0001]
max_iter = [100,150,200]

In [78]:
param_grid = dict({'tol':tol, 'max_iter':max_iter})

In [79]:
grid_model = model_selection.GridSearchCV(estimator=lgr, param_grid=param_grid, cv=5)
rescaleX = scaler.fit_transform(X)

In [80]:
grid_model_result = grid_model.fit(rescaleX, y)
best_score, best_params = grid_model.best_score_, grid_model.best_params_

In [82]:
best_score

0.8507246376811595

In [83]:
best_params

{'max_iter': 100, 'tol': 0.01}